@font-face {
  font-family: "IBM Plex Sans";
  src: url("packages/wr-standards/assets/fonts/IBMPlexSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("packages/wr-standards/assets/fonts/IBMPlexSans-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("packages/wr-standards/assets/fonts/IBMPlexSans-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

html, body {
  font-family: "IBM Plex Sans", system-ui, -apple-system, sans-serif;
  font-size: 11pt;
  line-height: 1.45;
  color: #111;
}

h1 {
  font-size: 18pt;
  font-weight: 600;
  margin-bottom: 0.18in;
}

h2 {
  font-size: 13pt;
  font-weight: 600;
  margin-top: 0.22in;
  margin-bottom: 0.1in;
}

h3 {
  font-size: 11.5pt;
  font-weight: 600;
  margin-top: 0.16in;
  margin-bottom: 0.08in;
}

p { margin: 0 0 0.1in 0; }

ul, ol {
  margin: 0 0 0.12in 0.22in;
  padding: 0;
}

li { margin-bottom: 0.06in; }

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0.14in 0;
  font-size: 10.5pt;
  line-height: 1.33;
}

table th, table td {
  border: 1px solid #c9c9c9;
  padding: 6px 8px;
  vertical-align: top;
}

table th {
  font-weight: 600;
  background: #f5f5f5;
}

.wr-worksheet-banner {
  border: 1px solid #d6d6d6;
  background: #f6f6f6;
  padding: 10px;
  font-size: 10pt;
  line-height: 1.35;
  margin-bottom: 0.15in;
}
